.footer-style {
    margin-top: 15px;   
    border-top: 1px solid #ccc;
}

.footer-style p {
    font-family: "Lucida Sans Unicode", sans-serif;
    text-align: left;
}

.space {
    margin-top: 80px;   
}

.boxtorn {
    border: 1px solid #ccc;
    margin-bottom: 15px;
    border-radius: 15px;
}

.titulo {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", sans-serif;
    text-align: center;
    font-size: medium;
}

.dados-relatorio {
    border-bottom: 1px solid #ccc;
    text-align: left;
}