{% extends 'base.html' %}
{% block topo %}
<ul class="nav navbar-nav">
    <li><a href="/">Início</a></li>
    <li><a href="/calculate/">Calcular</a></li>
    <li class="active"><a href="/about/">Sobre</a></li>
    <li><a href="/admin/" target="blank">Admin</a></li>
</ul>
{% endblock topo %}
{% block content %}
    <!-- About -->
    <div class="container">
        <div class="jumbotron">
            <h1>Sobre nós</h1>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu ipsum massa. 
            Aliquam convallis pellentesque ullamcorper.Curabitur porta lectus id tortor fringilla ultrices. 
            Aenean purus ipsum, placerat in odio eget, mollis interdum metus. Aenean sit amet neque felis. 
            </p>
            <p>Membro 1 - <a href="#">mail@example.com</a></p>
            <p>Membro 2 - <a href="#">mail@example.com</a></p>
            <p>Membro 3 - <a href="#">mail@example.com</a></p>
            <p>Membro 4 - <a href="#">mail@example.com</a></p>
        </div>
    </div>
    <!-- End About -->
{% endblock content %}