<!doctype html>
<html>
    <head>
        <!-- Config Charset UTF-8 -->
        <meta charset="utf-8">
        <!-- CSS Loader Bootstrap -->
        <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
        <!-- Tittle of Page -->
        <title>DRIS</title>
    </head>
        
    <body>
        <!-- Navbar -->
        <header class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">DRIS</a>
                </div>
                <div class="navbar-collapse collapse">
                    <div id="topo">
                        {% block topo %}
                        {% endblock topo %}
                    </div>
                </div>
            </div>
        </header>
        <!-- End Navbar -->
        <!-- Containt -->
        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>
        <!-- End Containt -->
        <!-- Footer -->
        <footer class="container">
            <div class="footer-style">
                <p>
                    &copy; Copyright UFES 2014
                </p>
            </div>
        </footer>
        <!-- End Footer -->
        <!-- JS Loader Bootstrap -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    </body>
</html>