{% extends 'base.html' %}
{% block topo %}
<ul class="nav navbar-nav">
    <li><a href="/">Início</a></li>
    <li class="active"><a href="/calculate/">Calcular</a></li>
    <li><a href="/about/">Sobre</a></li>
    <li><a href="/admin/" target="blank">Admin</a></li>
</ul>
{% endblock topo %}
{% block content %}
    <!-- About -->
    <div class="container">
        <div class="jumbotron">
            <h1>Análise</h1>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu ipsum massa. 
            Aliquam convallis pellentesque ullamcorper.Curabitur porta lectus id tortor fringilla ultrices. 
            Aenean purus ipsum, placerat in odio eget, mollis interdum metus. Aenean sit amet neque felis. 
            </p>
        </div>
        <form action="." class="form-horizontal" method="POST">
            {% csrf_token %}
            <div class="col-sm-12">
                <div class="col-sm-4 boxtorn">
                    <h3 align="center"><strong>Nutrientes</strong></h3>
                    <div class="form-group">
                        <label for="{{form.n.id_for_label}}" class="col-sm-2 control-label">{{form.n.label}}</label>
                        <div class="col-sm-10">
                            {{form.n}}
                            {{form.n.errors}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.p.id_for_label}}" class="col-sm-2 control-label">{{form.p.label}}</label>
                        <div class="col-sm-10">
                            {{form.p}}
                            {{form.p.errors}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.k.id_for_label}}" class="col-sm-2 control-label">{{form.k.label}}</label>
                        <div class="col-sm-10">
                            {{form.k}}
                            {{form.k.errors}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.ca.id_for_label}}" class="col-sm-2 control-label">{{form.ca.label}}</label>
                        <div class="col-sm-10">
                            {{form.ca}}
                            {{form.ca.errors}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.mg.id_for_label}}" class="col-sm-2 control-label">{{form.mg.label}}</label>
                        <div class="col-sm-10">
                            {{form.mg}}
                            {{form.mg.errors}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.s.id_for_label}}" class="col-sm-2 control-label">{{form.s.label}}</label>
                        <div class="col-sm-10">
                            {{form.s}}
                            {{form.s.errors}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.b.id_for_label}}" class="col-sm-2 control-label">{{form.b.label}}</label>
                        <div class="col-sm-10">
                            {{form.b}}
                            {{form.b.errors}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.cu.id_for_label}}" class="col-sm-2 control-label">{{form.cu.label}}</label>
                        <div class="col-sm-10">
                            {{form.cu}}
                            {{form.cu.errors}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.fe.id_for_label}}" class="col-sm-2 control-label">{{form.fe.label}}</label>
                        <div class="col-sm-10">
                            {{form.fe}}
                            {{form.fe.errors}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.mn.id_for_label}}" class="col-sm-2 control-label">{{form.mn.label}}</label>
                        <div class="col-sm-10">
                            {{form.mn}}
                            {{form.mn.errors}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.zn.id_for_label}}" class="col-sm-2 control-label">{{form.zn.label}}</label>
                        <div class="col-sm-10">
                            {{form.zn}}
                            {{form.zn.errors}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <!-- Dados Gerais -->
                <div class="col-sm-7 boxtorn">
                    <h3 align="center"><strong>Dados Gerais</strong></h3>
                    <div class="form-group">
                        <label for="{{form.proprietario.id_for_label}}" class="col-sm-3 control-label">{{form.proprietario.label}}</label>
                        <div class="col-sm-9">
                            {{form.proprietario}}
                            {{form.proprietario.errors}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.propriedade.id_for_label}}" class="col-sm-3 control-label">{{form.propriedade.label}}</label>
                        <div class="col-sm-9">
                            {{form.propriedade}}
                            {{form.propriedade.errors}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.lavoura.id_for_label}}" class="col-sm-3 control-label">{{form.lavoura.label}}</label>
                        <div class="col-sm-9">
                            {{form.lavoura}}
                            {{form.lavoura.errors}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.cultura.id_for_label}}" class="col-sm-3 control-label">{{form.cultura.label}}</label>
                        <div class="col-sm-9">
                            {{form.cultura}}
                            {{form.cultura.errors}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.amostra.id_for_label}}" class="col-sm-3 control-label">{{form.amostra.label}}</label>
                        <div class="col-sm-9">
                            {{form.amostra}}
                            {{form.amostra.errors}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{form.data_coleta.id_for_label}}" class="col-sm-3 control-label">{{form.data_coleta.label}}</label>
                        <div class="col-sm-9">
                            {{form.data_coleta}}
                            {{form.data_coleta.errors}}
                        </div>
                    </div>
                </div>
                <!-- End Dados Gerais -->
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button formtarget="_blank" type="submit" class="btn btn-primary btn-lg btn-block">Gerar Relatório</button>
                </div>
            </div>
        </form>
    </div>
    <!-- End About -->
{% endblock content %}